@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JavaBytes</h1>
    <p class="lead">JavaBytes is a an app developed by the CIB Technology graduates.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Daily Buzz</h2>
        <p>
            The Daily Buzz has a great selection of both hot and cold drinks, as well as a selection of simple sandwhiches and snacks - perfect for a quick snack to get you through the day.
        </p>
        <p>@Html.ActionLink("Place Order", "SelectVendor", "Vendors", new { id = 1 }, new { @class = "btn btn-primary", @style = "color:white" })</p>
    </div>
    <div class="col-md-4">
        <h2>Vida</h2>
        <p>Vida is in here solely for testing purposes. There are no plans to contact Vida and include them in the development process as yet.</p>
        <p>@Html.ActionLink("Place Order", "SelectVendor", "Vendors", new { id = 2 }, new { @class = "btn btn-primary", @style = "color:white" })</p>
    </div>
    <div class="col-md-4">
        <h2>More Coming Soon</h2>
        <p>We'll have more exciting vendors coming to JavaBytes soon.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>